.aboutPageMain {
  overflow-y: hidden;
  background-color: #ffffff;
  min-height: 100dvh;

  .separator {
    background-color: #ffffff;
  }

  // Media queries dla responsywności
  @media (max-width: 1200px) {
    overflow-y: hidden;
    .separator {
      padding: 60px 0 40px 0;
    }
  }

  @media (max-width: 480px) {
    overflow-y: hidden;

    .separator {
      padding: 40px 0 20px 0;
    }
  }
}
