.project {
  border-top: 2px solid black;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.project .prg{
  font-size: 5vw;
  margin: 50px;
}
