.aboutPage {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  position: relative;
  color: #141516;
  background-color: #ffffff;
  z-index: 1;
  h2 {
    text-align: center;
    margin-bottom: 1rem; // większy odstęp pod nagłówkiem
  }
  .about {
    display: flex;
    align-items: center; // wyśrodkowanie w pionie
    justify-content: center; // wyśrodkowanie w poziomie
    padding: 120px;
    background-color: #ffffff;
    gap: 150px; // zwiększony odstęp między elementami
  }

  .aboutContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .aboutImage {
    position: relative;
  }
  .imageContainer {
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    margin: 0 0 1rem 0;

    img {
      object-fit: cover;
    }
  }

  .aboutText {
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.6; // zwiększony odstęp między liniami
    text-align: center;

    p {
      max-width: 580px;
      margin: 0 auto 1.5rem; // wycentrowanie paragrafów i większy odstęp
      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  .circleContainer {
    position: relative;
    margin-top: 100px;
    .circle {
      height: 1550%;
      width: 120%;
      left: -10%;
      border-radius: 0 0 50% 50%;
      background-color: #ffffff;
      z-index: 1;
      position: absolute;
      box-shadow: 1px 60px 50px rgba(0, 0, 0, 0.748);
    }
  }
}
